*{
    padding:0;
    margin:0;
}
.container{
    height:100vh;
    /* border:1px    solid red; */
    
}
.box{
    height: 60%;
    width:40%;
    border:1px solid palegreen; 
    /* box-shadow: 10px 10px black; */
}
.containerflex{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
}
#adder{
    /* height:10%; */
    width:5%;
    box-shadow: 10px salmon;
    /* list-style: none; */
}
.boxflex{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.listinput{
    width: 60%;
    list-style: none;
}
#box1{
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll  hidden;
    /* scrollbar-width: hidden; */
    /* border: 1px solid red; */
    height:50%;
    width:45%;
}
.inputbox{
    display: flex;
}